<form action="{% url 'categorias'%}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Categoria</h1></legend>
        {% if error_message %}
        <p class="error"> {{error_message}}</p>
        {% endif %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre"/>
        <br/>
        <input type="submit" value="Guardar"/>

    </fieldset>
</form>

<ul>
    {% for categoria in categorias %}
        <li>{{ categoria.nombre_categoria}}</li>
        {% endfor %}
</ul>